################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/bin/Debug/doc/f81d948b-ff7a-456e-935e-018de8af5093.docx
/bin/Debug/doc/c1dd0327-c282-4692-bf5a-d34df43affd1.docx
/bin/Debug/doc/b6eccce8-e629-473f-9279-f405a4a04eb1.docx
